<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">
                <% if(!currentUser) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">SignUp</a>
                    </li>
                    <% } else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Signed in as <%= currentUser.username %> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">LogOut</a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </nav>

    <div class = "container">
        <header class="jumbotron">
            <div class="container">
                 <h1>This is the Campgrounds Page</h1>
                <p>View Our Hand-Picked Campgrounds From All Over The World!!</p>
                <p>
                  <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground!!</a>
                </p>
            </div>
        </header>
    <div class="row text-center" style="display: flex; flex-wrap: wrap; max-height: 20px;">    
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class = "thumbnail">
                <img class = "img-thumbnail" src="<%= campground.image %>">
                <div class="caption">
                    <h4> <%= campground.name %> </h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info!</a>
                </p>
            </div>
        </div>
        <% }); %>
    </div>

<p>Trademark YelpCamp 2015</p>
</div>

</body>
</html>